body {
  background-color: hsl(0, 25%, 49%);
}
.main-head{
  text-align: center;
  color: black;
}
.container {
  max-width: 800px;
  margin: 100px auto;
  padding: 20px;
  background: hsla(305, 45%, 80%, 0.8);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.head h2 {
  text-align: center;
  color: hwb(4 12% 60%);
  
}

.note-add {
  margin: 20px;
}

#input-title,
#input-note {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add button {
  width: 40%;
  margin-left: 250px;
  padding: 15px;
  background-color: hwb(4 12% 60%);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.notes-list {
  margin-top: 20px;
}

.note-item {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.note-item h2 {
  margin: 0 0 10px;
}

.note-item p {
  margin: 0 0 10px;
}

.note-item button {
  margin-right: 5px;
  padding: 5px 10px;
  background-color:brown;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.note-item button:last-child {
  background-color: brown;
}
